body {
    background-color: #f8f8f8;
  }
  .h3 {
    background-color: #f8f8f8;
  }
  .modal-typo{
    text-transform: capitalize;
    opacity: "0.8";
    color: black;
    /* alignItems: "center", */
  }